// nav-boxes
.change_subpage {
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrapper {
    position: relative;
    display: inline-block;

    a img {
        width: 80%;
        height: 100px;
        //object-fit: cover;
        border-radius: $radius;
    }
}

.text_wrapper {
    p {
        opacity: 0;
        font-size: 12px;
        transform: translateY(-0%, -70%);
    }

    h1 {
        opacity: 1;
        top: 40%;
        transform: translateX(0%, 30%);
    }

    p:hover {
        opacity: 1;
        transition-duration: 1s;
        /*transition-delay: ;
          transition-property: ;
          transition-timing-function: ;
          transition-delay: ;*/
    }

    h1:hover {
        opacity: 0.8;
        transform: translateZ(00%, 70%);
        font-family: $font-text;
    }
}

.opening_hours {
    width: 100%;
    height: 120px;
    background: $color-main;
    text-align: center;
    padding: 10px;
    font-family: $font-header;
    color: $color-light;
    text-transform: uppercase;
    border-radius: $radius;
    margin: 30px 0px;
    //line-height: 0.7px;
}

// carousel
.flickity-button:disabled {
    display: none;
}

.flickity-prev-next-button {
    opacity: 50; //powinno być zero zbcm co sb stanie
}

.main-carousel {
    width: 90%;
    margin: 30px 0px;
}

.carosuel-item {
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    //display: flex;
}

.carousel-image {
    img {
        width: 200px;
        height: 200px;
    }
}

.carousel-caption {
    h3 {
        text-transform: uppercase;
    }

    p {
        font-weight: $font-light;
    }

    span {
        font-style: italic;
    }
}

// gallery
.gallery {
    //to jest section a nie div
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    display: inline-block;
    flex: 0.33;
    position: relative;

    img {
        opacity: 1;
    }

    i {
        font-size: 0x;
    }

    &:hover {
        //ew użyć nest
        font-size: 20px;
    }
}

.icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
stylelint:
"indentation": 2,
*/